<div id="<%= dom_id document %>">
  <p>
    <strong>User:</strong>
    <%= document.user_id %>
  </p>

  <p>
    <strong>File:</strong>
    <%= document.file %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

</div>
