<p style="color: green"><%= notice %></p>

<% content_for :title, "Documents" %>

<h1>Documents</h1>

<%= link_to "New document", new_document_path, class: "btn btn-success" %>

<div id="documents">
  <% @documents.each do |document| %>
    <%= render document %>
    <p>
      <%= link_to "Show this document", document, class: "btn btn-success" %>
    </p>
  <% end %>
</div>

