<h1>Welcome!</h1>
<p>Here is your dashboard where you can manage your documents, view reports, and more.</p>

<%= link_to 'Manage Documents', documents_path, class: "btn btn-primary" %>
<%= link_to 'View Reports', reports_path, class: "btn btn-success" %>